<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:school.db</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
	
		<mapping resource="School.hbm.xml"/>
		<mapping resource="SchoolClass.hbm.xml"/>
		<mapping resource="Student.hbm.xml"/>
		<mapping resource="Teacher.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
